html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}
.pakend { 
    width: 100%; 
    height: 100%; 
    top: 0px;
}
.taevas { 
    background: url(pildid/taevas.jpg) center center fixed;
    width: 100%; 
    height: 32%; 
}
.meri { 
    width: 100%; 
    height: 68%; 
    background: url(pildid/meri.jpg) center center fixed;
    background-size: 100%;
    position: absolute;
}
.kala{
    display: inline-block;
    position: absolute;
    width: 20%; /*'siit muudad kõikide kalade suurusi korraga*/
    border: 1px solid red; /*Võtad komentaari ära ja kala on raamitud*/
}
.kala > img{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    visibility: hidden;
}
.kala:hover > img{
    visibility: visible;
}
/*js'i klass*/
.kala.surnud > img{
    visibility: visible;
}

/* --Kalad id'ga-- */
#forell{
    left: 10px;
    top: 80px;
}
#kammeljas{
    left: 550px;
    top: 200px;
}
/* --Kalad id'ga lõpp-- */

